.postbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    /*height: 300px;*/
    width: 530px;
    border: 2px solid #979797;
    overflow: auto;
    border-radius: 5px;
    border-bottom: 5px solid #979797;
  }
.commentbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 5px;
    /*padding: 10px;*/
    background: lightgrey;
    /*height: 300px;*/
    width: 95%;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 3px;
    border-bottom: 3px solid #a7a7a7;
  }
